@charset "utf-8";
/* CSS Document */

html body{
    background-image: url('images/Fondo-main.jpg');

}


*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.header{
    height: 100px;
}

.heading h1 {
    border-left: 2px solid #000000;
    Border-right: 2px solid #000000;
    background-color: #000000;
    text-shadow: 2px 2px 12px rgb(69 66 66 / 30%);
    padding: 0px 10px;
    color: rgb(255 255 0);
    font-size: 25px;
    font-family: calibri;
    margin-block: 2em;
    display: block;
    margin-inline: auto;
    letter-spacing: 0.5rem;
    vertical-align: middle;
    width: 250px;
}

h1 {
    text-align: center;
    font-size: 65px;
    font-family: poppins;
    color: #ffffff;
    text-shadow: 2px 2px 10px rgb(0 255 85 / 78%);
    position: relative;
}

/*----------- HEADER ------------------------------ */
li{
    padding-inline: 0.5rem; 
}

nav {
    display: flex;
    width: 100%;
    background: #000000;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}
nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    margin: 0 2px;
}
nav ol li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
    font-family: poppins;
}
nav ol li:hover a{
    background: #63636b;
    color: #ffffff;
    border-radius: 4px;
    width: 100%;
}
nav .search_box {
    display: flex;
    margin: auto 0;
    height: 40px;
    line-height: 35px;
}
nav .search_box input {
    border: none;
    outline: none;
    background: #fff;
    height: 100;
    padding: 0 20px;
    font-size: 20px;
    width: 350px;
    border-radius: 30px;
    font-family: arial;
    height: 40px;
}
nav .search_box span {
    color: #000000;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    right: 1.8em;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
    height: 40px;
}

nav .search_box span:hover{
    color: #fff;
}
nav .search_box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #ff0000;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
    border-radius: 30px;
}
nav .search_box span:hover::after{
    width: 100%;
}
nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}
@media screen and (max-width: 1250px){
    nav{
        display: block;
        padding: 0;
    }
    nav .icon{
        display: inline-block;
        padding: 15px 30px;
    }
    nav .search_box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 80px;
        margin-top: 20px;
    }
    
    nav .search_box input{
        width: 90%;
    }
    nav ol {
        display: flex;
        flex-direction: column;
        background: #000;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    nav ol li{
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }
    nav ol li a {
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding: 5px 10px;
        font-family: poppins;
    }
    nav ol li:nth-child(1){
        transform: translateX(-150px);
        margin-bottom: 40px;
    }
    nav ol li:nth-child(2){
        transform: translateX(-200px);
        margin-bottom: 40px;
    }
    nav ol li:nth-child(3){
        transform: translateX(-250px);
        margin-bottom: 40px;
    }
    nav ol li:nth-child(4){
        transform: translateX(-300px);
        margin-bottom: 40px;
    }
    nav ol li:nth-child(5){
        transform: translateX(-350px);
        margin-bottom: 40px;
    }           
    nav .bar{
       display: block; 
       position: absolute;
       top: 20px;
       right: 80px;
       cursor: pointer;
    }
    nav .bar #times{
        display: none;
    }
    #check:checked ~ nav .bar #times{
        display: block;
    }
    #check:checked ~ nav .bar #bars{
        display: none;
    }
    #check:checked ~ nav ol {
        visibility: visible;
        height: 400px;
        background: black;
    }
    #check:checked ~ nav ol li:nth-child(1),
    #check:checked ~ nav ol li:nth-child(2),
    #check:checked ~ nav ol li:nth-child(3),
    #check:checked ~ nav ol li:nth-child(4),
    #check:checked ~ nav ol li:nth-child(5){
        transform: translateX(0);
        opacity: 1;
    }    
}
/* ------------------------------------------------------ */


.section {
    height: calc(180vh - 140px - 190px);
    margin-block: 20rem;
}

.scan_container {
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* margin-block: 50%; */
    position: relative;
    bottom: 30px;

    margin-block: 10rem;
}
.scan_container img{

    width: 400px;
    border-radius: 20px;
}





  /* ----------------------------------------------------- */




/* SECCION FOOTER */


footer {
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 100px;
    /* padding: 20px 50px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

* 



footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display:  inline-block;
    transition: 0.4s;
}
footer .social_icon li a :hover{
    transform: translateY(-10px);
}
footer p{
   
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
   
}
footer .wave{
    position: absolute;
    top:-100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('images/wave.png');
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}


@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100{
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x: -1000px;
    }
    100{
        background-position-x: 1000px;
    }
}

.code-qr {
    width: 100px;
    display: block;
    margin-inline: auto;
    margin-bottom: 20px;
}

img.code-qr {
    width: 100px;
    height: 100px;
}

.footer-content{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: #0e0c0d;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.code-qr {
    width: 100px;
    display: block;
    margin-inline: auto;
    margin-bottom: 20px;
}

img.code-qr {
    width: 100px;
    height: 100px;
}

.footer-bottom {
    background: #0e0c0d;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}